# Framework & Server
fastapi>=0.100.0
uvicorn[standard]

# Database
sqlalchemy>=1.4.0
alembic
psycopg2-binary # PostgreSQL 드라이버 (RDS가 PostgreSQL일 경우)

# AWS
boto3>=1.28.0
mangum>=0.17.0

# Google GenAI
google-generativeai==0.7.2

# Settings Management
pydantic-settings>=2.0.0

# Authentication
passlib[bcrypt]
python-jose[cryptography]

# Testing
pytest
pytest-asyncio>=0.21.0
httpx
pytest-mock
moto[all]>=5.0.0
requests
